@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

* {
    margin: 0; /* o asterisco significa que vai funcionar em toda a página, é uma pratica mais comum */
    padding: 0; /* margem interna */
    list-style: none; /* retira os bullets de listas */
    text-decoration: none; /* Tira o sublinhado dos links */
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif ;
    --font-action: "Mulish", serif;
}

.hamburguer{
    width: 2rem; /* tamanho do objeto */
    height: 2rem;
    position: fixed; /* Torna fixo, assim será visivel mesmo quando a página rolar pra baixo */
    z-index: 100; /* Trazer pra frente. Eixo Z funciona como camadas, colocamos um valor alto pra não correr o risco de ficar algo a frente.  */
    right: 2rem; /* bordas externas */
    top: 2rem;
    display: flex; /* Para fazer a disposição das linhas do menu hamburguer */
    flex-direction: column; /* Para fazer a disposição das linhas do menu hamburguer */
    justify-content: space-evenly; /* Para fazer a disposição das linhas do menu hamburguer */
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 17rem;
}

.line{
    width: 100%; /* Teráo 100% do tamanho da classe pai, no caso hamburguer */
    height: 2px; /* Vira uma fração de rem, é como 0.1 */
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000; /* deslocamento no eixo x, deslocamento no eixo y, blur, cor */  
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);  
    transition: all 1s;  
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.45rem);    
    transition: all 1s;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a06be;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;    
}

.hamburguer span::before{ /*setinha do span */
    content: "";
    position: absolute;
    border-right: .5rem solid #8a06be;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;    
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%; /* 100% da largura da página */
    height: 100vh; /* vh (view height) altura da visualização em que a página for carregada */
    overflow: hidden; /* esconder o overflow desabilita a possibilidade do cabeçalho passar o tamanho da janela e ficar com aquela barra de rolagem embaixo */
    position: relative;
}

.img-wrapper{ /* toda classe começa com ponto. Formatação de todo elemento que utilize essa classe */
    width: 100%; /* vai ocupar 100% da largura , no caso do header (pq esta dentro do header)*/
    height: 100%; 
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* "a" é de alfa, ele define a opacidade que o elementa vai ter. 0.8 significa 80% */
}

.img-wrapper img{ /* Seletor CSS para imagem que estejam dentro da classe img-wrapper. (para a imagem se limitar a ficar dentro do tamanho do img wrapper) */
    width: 100%;
    height: 100%;
    object-fit: cover; /* a forma que a imagem vai ser redimensionada(não distorce a imagem e perde proporção), com cover ela vai cobrir a div */
    opacity: 0.5 ;
    animation: zoom 25s; /* aplicação do keyframe criado */
}

@keyframes zoom{ /* Cria os frames para fazer a animação de zoom in e zoom out. Depois é necessário aplicar (no css) no elemento que deseja utilizar a animação, no caso na imagem.  */
    0% {
        transform: scale(1.3); /* zoom in */
    }
    100% {
        transform: scale(1); /* zoom out */
    }
}

.banner{
    position: absolute; /* para não ter um posicionamento estatico. pra isso funcionar, precisa estar dentro de um elemento com posicionamento relativo (no caso o header) */
    top: 30%; /* parte superior */
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem; /* unidade visando acessibilidade (em ou rem)*/
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4); /* distancia direita, distancia baixo, blur, cor */
    line-height: 3.5rem;
    margin-bottom: 2rem; /* tamanho do proprio paragrafo. distancia entre o h1 e o p */
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards; /* nome do keyframe, duração, tempo para iniciar, direção */
}

.banner p{
    font-family: var(--font-secundary); /* trocar essa por josefin slab */
    color: #ffffff;
    font-size: 2rem;
    /*font-weight: 200;
    text-shadow: .2rem .2rem rgba(0,0,0, .4);*/
    margin-bottom: 2rem; /* distancia para o botão */
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    /*font-size: 1.2rem;*/
    letter-spacing: .1rem; /* Faz um espaçamento entre as letras */
    text-transform: uppercase; /* Deixar o texto maiusculo */
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px; /* Deixa os cantos do botão arredondados*/
    cursor: pointer; /* Muda o ponteiro do mouse ao passar em cima*/  
    opacity: 0;  
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{ /* Pseudo classe que identifica uma ação */
    /*opacity: 0.8;*/
    color: #000;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,*/
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(30deg) ; /* aproximadamente 160 px (1 rem custuma ser 16px, por padrão. mas se alguém definiu outro tamanho, o valor pode mudar). O valor de rotate é em graus */    
    }
    100% {
        transform: translateY(0) rotateY(0); /* volta pra posição original */
        opacity: 1;
    }
    
}

.sidebar {
    width: 20rem;
    height: 100vh; /* altura da tela */
    background-color: #fff;
    position: fixed;
    top: 0; /* pra ficar sempre no topo */
    right: -20rem; /* 0 é no canto direito, -20 é escondida, sua posição inicial pra só se exibida quando clicada */
    transition: all 1s;
}

.show-menu .sidebar{ /* todos que forem descendentes de um elemento show menu vai pegar essa configuração */
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%; /* para centralizar, porém não fica perfeito */
    transform: translate(-50%, -50%); /* deslocamento para ficar bem centralizado (eixo x, eixo y) */
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem; /* espaçamento entre os itens do menu */
}

.menu-link{
    font-family: var(--font-action);
    color: #555;
    font-size: 2rem;
    transition: color 1s; /*faz uma transição quando a color for alterada*/
}

.menu-link:hover{
    color: purple;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex; /* para fazer a distribuição */
    justify-content: space-evenly; /*para deixar a distribuição mais uniforme*/ 
}

.social-media i{
    background-color: purple;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem; 
    font-size: 1.5rem; /* Como é um icone de fonte, seu tamanho pode ser alterado dessa forma*/
    display: flex; /* para fazer a distribuição */
    justify-content: space-evenly; /*para deixar a distribuição mais uniforme*/ 
    align-items: center; /*alinha no eixo y */
    border-radius: 50%;    
    transition: background-color 1s;   
}

.social-media i:hover{
    background-color: #8a06be;
}

.conhecimentos{
    display: grid; /*faz o grid que é uma tabela onde irão as informações da parte conhecimentos*/
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7; /*vai começar na coluna 4 e vai até a coluna 7*/
    grid-row: 1/ 3; /* começa na linha 1 e vai até a 3 */    
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6; 
    grid-row: 3/ 5;    
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7; 
    grid-row: 5/ -1; 
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14; 
    grid-row: 1/ 3; 
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15; 
    grid-row: 3/ 5; 
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14; 
    grid-row: 5/ -1; 
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*alinhamento horizontal*/ 
    margin-bottom: 2rem; 
    padding-top: 2rem;  
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6E48AA;
    margin-bottom: 2rem;
    
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{ /* formatação do icone */
    font-size: 2.5rem;

}

.conhecimento-header h3{
    font-family: var(--font-secundary) ;
    font-size: 2rem;
    padding-left: 1rem;    
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;    
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img{ /*pra fazer a imagem ficar dentro do wrapper, pois estava passando */
    object-fit: cover;
    width: 100%;
}